ul.rules li::after {
    content: ';';
}

ul.rules li:last-child::after {
    content: '.';
}

.level.img-links {
    justify-content: space-evenly;
}

.level.img-links img.level-item {
    flex-grow: 0;
}

.copied {
    transition: opacity .3s;
}

.partner-link {
    cursor: pointer;
}